.recaptcha-modal-wrapper {
	z-index: 99999; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	height: 100%; 
	width: 100%; 
	bottom: 0px; 
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
	display:none;	
	text-align:center;
}
.recaptcha-modal-wrapper > div {
	margin:0 auto;
	display:inline-block;
	background:#fff;
	box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.75);
	padding:20px 20px 35px;
	border:1px solid #0090c7;
}
#recaptcha_modal_container {
	min-width:600px;
	min-height:300px;
}
/*
#recaptcha_area {
	background:#fff;
}*/
.captcha-close {
	background-image:url('img/close_x.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:10px;
	height:10px;
	position:absolute;
	top:5px;
	right:5px;
}
.captcha-submit {
	position:absolute;
	bottom:5px;
	right:5px;
}
.recaptcha-close-button:hover,
.recaptcha-close-button:active {
	background-position:0px -10px;
}

.captcha-feedback {
	position:absolute;
	right:50px;
	bottom:5px;
	color:#981010;
}

.recaptcha-faux-submit-wrapper {
	width:100%;
	float:left;
	clear:both;
}
.recaptcha-faux-submit-wrapper .recaptcha-faux-submit {
	  background: none repeat scroll 0 0 #2B2E30;
    color: #FFFFFF !important;
    font: 12px museo-sans,"Lucida Grande",Verdana,sans-serif;
    height: 30px;
    margin: 20px 0 0;
    padding: 2px 12px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    -ms-appearance:none;
    border:none;
}